{% extends "layout-fe.html" %}
{% block title %}
{{ post.Title }}
{% endblock %}
{% block body %}
<div class="col-xs-12">
    <div style="text-align: center;" class="col-xs-12">
        {% for tag in tags%}
        <a href="/tag/{{ tag.TagName}}" style="color: #b6b9ba;font-size: {{ format_font(tag.Id) + 9  }}px">{{
            tag.TagName}}</a>
        {% endfor %}
    </div>
    <div style="text-align: center;" class="col-xs-12">

        <div style="text-align: center; margin-bottom: 20px" class="col-xs-12">
            <h3>{{ post.Title }}</h3>
            <span style="color: #b6b9ba; font-size: 11px"> post by <span
                    style="color: #999">{{ getnick(post.User) }}</span>  on {{ post.DateCreated}}</span>

        </div>
        <div style="text-align: center;" class="col-xs-12">
            {% if postFiles %}
                <hr />
                    {% for file in postFiles%}
                        <a class="label label-default" href="/static/files/{{file.FileName}}" id="file_{{file.Id}}">{{file.FileName}}</a>
                    {% endfor %}<hr />
                {% endif %}
            {% if getimages(post.Id) %}
                <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
                <hr />
                {% for image in getimages(post.Id) %}
                {% set im = "/static/files/th_"~image.ImageName%}
                {% set imB = "/static/files/"~image.ImageName%}

                <a href="{{imB}}"><img src="{{ im }}" style="border: 1px solid #ccc; padding: 1px;"></a>
                {% endfor %}
                    </div>
                {% endif %}
            <div class="col-lg-12" style="text-align: left">
                {{ post.Content|safe }}
                <div style="clear: both"></div>
            </div>

        </div>
        <div class="col-xs-12">
            <form method="post" action="/read/{{post.Slug}}">
                <br />
                <div class="form-group">
                    <input type="text" class="form-control" name="nick" placeholder="Nick (optional)" />
                </div>
                <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email (optional)" />
                    </div>
                <textarea name="comment" class="form-control" rows="10" placeholder="Comment (mandatory)"></textarea>
                <span style="font-size: 11px; float: left">You can use any html tag (p, pre ...)</span><br />
                <input type="submit" value="Add comment" class="btn btn-primary" style="float: right" />
            </form>
            <div class="col-lg-12" style="text-align: left">
                {% if comments %}
                <hr />
                {% for comment in comments%}
                <span>Comment by: {{ comment.Nick }} - <span style="font-size: 11px;">created at {{ comment.DateCreated }}</span></span><br />
                <div class="col-lg-12" style="text-align: left; margin-top: 10px">
                    {{comment.Comment | safe}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<style>
    .col-xs-12.share a {
        color: #23ada6;
        font-size: 11px
    }

    .col-xs-12.share a img {
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 5px;

    }
</style>
{% endblock %}