{% extends "layout.html" %}
{% block title %}
    Posts
{% endblock %}
{% block body %}
        <div class="col-xs-12">
            <form method="post" enctype="multipart/form-data" {% if post %} action="/admin/edit-post/{{post.Id}}" {% endif%}>
            <div class="form-group">
                <input type="text" {% if post %} value="{{post.Title}}" {% endif%} name="title" class="form-control" placeholder="Title" />
            </div>
            <div class="form-group">
                <input type="text" name="slug" {% if post %} value="{{post.Slug}}" {% endif%} class="form-control" placeholder="Slug" />
            </div>

            <div class="form-group">
                <textarea  name="content" class="form-control content" placeholder="Content"  >{% if post %} {{post.Content}} {% endif%}</textarea>
            </div>
            <div class="form-group">
                <input type="file" name="photo" title="Choose image" />
                {% if post   %} <a href="/static/files/{{post.Photo}}">{{post.Photo}}</a>{%endif%}
                <label style="float: right; margin-top: -20px">
                    <input type="checkbox" name="active" {% if post   %} {% if post.PostStatus=='1' %}checked {% endif%} {% endif%} /> Is active?
                </label>
            </div>

            <div class="form-group" style="width: 100%" id="tags_holder">

                {% if tags %}
                    {% for tag in tags %}
                    <label style="float: right; margin-left: 10px; float: left" for="{{ tag.Id }}">
                        <input

                                {% if postTags %}

                                    {% for t in postTags %}
                                        {% for b in t.tags%}
                                            {% if b.Id == tag.Id%}
                                                checked
                                            {%endif%}

                                        {% endfor %}
                                    {% endfor %}
                                {%endif%}
                                type="checkbox"
                                name="tags" id="{{ tag.Id }}"
                                value="{{ tag.Id }}" /> {{tag.TagName}}
                    </label>
                    {% endfor %}
                {% endif%}
                <div style="clear: both"></div>
                <div style="width: 100%;">
                    <input style="float:left;width: 200px" type="text" class="form-control" name="new_tag" id="new_tag" placeholder="Tag"/>
                    <input style=" float: left;margin-left: 10px" type="button" class="btn btn-info" value="Add tag" onclick="javascript: addTag()" />
                </div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-danger" {% if post%}value="Update post"{%else%}value="Add post"{%endif%}  style="float:right; margin-top:-15px" />

            </div>
            </form>

        </div>
        <link rel="stylesheet" href="/static/redactor/redactor.css" />
        <script src="/static/redactor/redactor.js"></script>

        <script type="text/javascript">
        $(document).ready(
            function()
            {
                $('.content').redactor({

                });
            }
        );

        function addTag(){

            var tag = document.getElementById("new_tag").value;
            tag = {name:tag}
            if(tag){

                $.ajax({
                    type : "POST",
                    url : "/admin/add-tag",
                    data: JSON.stringify(tag, null, '\t'),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(result) {
                        if(result.status){
                            var html = '<label style="float: right; margin-left: 10px; float: left" for="'+result.Id+'"><input type="checkbox" value="'+result.Id+'" name="tags" id="'+result.Id+'" /> '+result.response+'</label>';
                            //html.prependTo($("#tags_holder"));
                            $("#tags_holder").prepend(html);
                        }
                    }
                });
            }
        }
        </script>
        <style>
            .redactor_box{
                height: 400px;
            }
            .redactor_editor{
                height: 350px;
            }
        </style>
{% endblock %}