<div class="aboutDropText">
    <img style="padding: 0px 20px 10px 0px;" src="http://snazzyclean.com/assets/frontend/img_desk/about_logo.jpg" align="left">
           Snazzy Clean offers <b>FREE PICK-UP AND DELIVERY</b> to clean your clothes!

            <br>
            <br>
                We get it. You're out there fighting the good fight, giving it your all in an endless quest to take over the world (so you can be a benevolent ruler, of course). The last thing you need is laundry and dry cleaning slowing you down.
            <br>
            <br>
                Well, good news!  We offer top-notch laundry and dry-cleaning services at competitive prices with free pick-up and delivery.
            <br>
            <br>
                It's easy. Just tell us where and when you'd like your clothes picked up and delivered. We'll take care of the rest.
            <br>
            <br>
                And what's more, Snazzy customers get their very own free Snazzy Laundry Bag. Everyone loves a good laundry bag, right? Right.
            <br>
            <br>
                So give Snazzy a shot! And then please don't forget us when you rule the free world.
</div>
