<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta content='width=device-width, initial-scale=1' name='viewport'>
        <title>{% block title %} {% endblock %}</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">

    </head>
    <body  >
        <div id="top-nav" class="navbar navbar-static-top" style="border-bottom: 1px solid #ebebeb;">
            <!--        <input type="text" class="form-control-h" placeholder="Search ..." style="height:45px;border: none; font-size: 28px; padding-top: 1px" />

            </div>-->

        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <div style="clear: both"></div>
        <footer class="text-center" style="margin-top:30px;font-size:12px;padding-top:10px;border-top: 1pt solid #ebebeb;width: 100%; z-index: 4; padding-bottom: 30px; background-color: #ffffff">
             Copyright © 2012 Pregmatch.org, Licensed under the Apache License, Version 2.0.
        </footer>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->
        <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.2/fotorama.js"></script> <!-- 16 KB -->
    </body>
</html>