<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta content='width=device-width, initial-scale=1' name='viewport'>
        <title>{% block title %} {% endblock %}</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>
    <body  >
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-toggle"></span>
                    </button>
                    <a class="navbar-brand" href="/admin">Blog admin</a>
                </div>
                {% if session %}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="/">
                                <i class="glyphicon glyphicon glyphicon-list-alt"></i> Navigation <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="/admin">Posts</a></li>
                                <li><a href="/admin/add-post">Add post</a></li>
                                <li><a href="/admin/users">Users</a></li>
                                <li><a href="/admin/register">Add user</a></li>
                                <hr>
                                <li style="font-size: 11px; text-align: center">
                                    {% if session %}
                                            You are Logged in as <br />{{session["nick"]}}, <a href="/admin/logout">logout</a>.
                                    {%endif%}
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>

        </div>
        <div class="container">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <span class="alert alert-info" style="display: block">{{ message }}</span>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>
        <footer class="text-center" style="margin-top:30px;font-size:12px;padding-top:10px;border-top: 1pt solid #ebebeb;width: 100%; z-index: 4; padding-bottom: 30px; background-color: #ffffff">
             Copyright © 2012 Pregmatch.org, Licensed under the Apache License, Version 2.0.
        </footer>

        <script type='text/javascript' src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

    </body>
</html>